<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning</title>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
        </head>
        <body>
   
            <!-- Navbar -->
            <nav>
                <div class="logo"></div>
                
                <a href="#">&nbsp;</a>
                
                <a href="/home">Courses</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/login">Logout</a>
            </nav>
         </body>
 </html>
