<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-learning</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/courses.css">
    <script src='main.js'></script>
</head>
<body>
    {{> navbar }}
    <section>
        <div class="content">      
            <h1>Agile Guide</h1>
            <table>
                <tr>
                    <td><b>Instructors:</b> Reyleigh, Victoria</td>
                    <td><b>Course Starts:</b> 19-12-2020</td>
                </tr>
                <tr>
                    <td><b>Duration:</b> 19 hours</td>
                    <td><b>Course Ends:</b> 15-06-2021</td>
                </tr>
            </table>
            <br><br>
            <p>Agile Guide is a set of principles and practices for software development that emphasizes flexibility, collaboration, and customer satisfaction.</p>
            <p>Agile methodologies are not limited to software development and have been successfully applied in various industries, including marketing, product management, and project management. The Agile Manifesto (agilemanifesto.org) provides a foundational set of values and principles for Agile development.</p>
            <br><br><br>
            <center>
                <input class="btn" type="button" value="Enroll Now" onclick="toggleEnrollment(this)" data-enrolled="false">
            </center>
        </div>
        <div class="image">
            <img src="/img/5.jpg" alt="Image">
        </div>
    </section>
</body>
<script>
    function toggleEnrollment(anchor) {
        const button = anchor.querySelector('.btn');
        const isEnrolled = button.getAttribute('data-enrolled') === 'true';

        if (isEnrolled) {
            button.textContent = 'Enroll Now';
            button.setAttribute('data-enrolled', 'false');
        } else {
            button.textContent = 'Unenroll';
            button.setAttribute('data-enrolled', 'true');
        }
    }
</script>
</html>
