<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        {{> navbar  }}
        <h1>Greetings learners,</h1>   
        <p>Take a look into the list of all courses</p>
        <div class='container-1'>
            <a href="/react" id="1">
                <div class="flex-container-1">
                    <img src="/img/1 (1).jpg">
                    <h3>React js</h3>
                    Course ID: CDL001<br><br>
                    Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:<br>
                    19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
                </div>
            </a>
            <a href="/node" id="2">
                <div class="flex-container-1">
                    <img src="/img/1 (4).jpg">
                    <h3>Node js</h3>
                    Course ID: CDL002<br><br>
                    Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:<br>
                    19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
                </div>
            </a>
        </div>
    </body>
</html>
