<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/courses.css">
    <script src="main.js"></script>
</head>
<body>
    {{> navbar }}
    <section>
        <div class="content">          
            <h1>Devops Manual</h1>
            <table>
                <tr>
                    <td><b>Instructors:</b> Rebecca, Jin Moori</td>
                    <td><b>Course Starts:</b> 19-12-2020</td>
                </tr>
                <tr>
                    <td><b>Duration:</b> 19 hours</td>
                    <td><b>Course Ends:</b> 15-06-2021</td>
                </tr>
            </table>
            <p>DevOps (Development and Operations) is a set of practices that aims to automate and improve the collaboration between software development and IT operations teams. It involves the use of automation tools, cultural shifts, and best practices to enhance the efficiency and effectiveness of the software development life cycle.</p>
            <p>Resources like "The Phoenix Project" and "The DevOps Handbook" are popular books that delve deeper into DevOps concepts and best practices.</p>
            <br><br><br>
            <div style="text-align: center;">
                <input class="btn" type="button" value="Enroll Now" onclick="toggleEnrollment(this)" data-enrolled="false">
            </div>
        </div>
        <div class="image">
            <img src="/img/2.jpg" alt="Image">
        </div>
    </section>
</body>
<script>
    function toggleEnrollment(anchor) {
        const button = anchor.querySelector('.btn');
        const is
