<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

  <body>
      
    {{> navbar  }}
    
    <header>
        <h1>Welcome to E-learning Website</h1>
        <p> "Learn, Play, Grow - Your Ultimate eLearning Destination"</p>
        
    </header>
    <!---Courses--->
    <div class="course">
    <h1>Greetings learners,</h1>   
       <p>Take a look into the list of all courses</p>    
      <div class='container-1'>
        <a href="/react" id="1">
        <div class="flex-container-1">
            
            <img src="/img/1 (1).jpg">
           <h3>React js</h3>
           Course ID : CDL001<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/node" id="2">
        <div class="flex-container-1">
            
            <img src="/img/1 (4).jpg">
           <h3>Node js</h3>
           Course ID : CDL002<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/python" id="3">
        <div class="flex-container-1">
            
            <img src="/img/1(7).jpg">
            <h3>Python</h3>
            Course ID : CDL003<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/testing" id="4">
        <div class="flex-container-1">
            
            <img src="/img/3.jpg">
            <h3>Testing</h3>
            Course ID : CDL004<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/alige" id="5">
        <div class="flex-container-1">
            
            <img src="/img/5.jpg">
            <h3>Agile Guide</h3>
            Course ID : CDL005<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/devops" id="6">
        <div class="flex-container-1">
            
            <img src="/img/2.jpg">
            <h3>Devops Manual</h3>
            Course ID : CDL006<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/angular" id="7">
        <div class="flex-container-1">
           
            <img src="/img/4.jpg">
            <h3>Angular</h3>
            Course ID : CDL007<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
        <a href="/java" id="8">
        <div class="flex-container-1">
            
            <img src="/img/6.jpg">
            <h3>Java</h3>
            Course ID : CDL008<br><br>
           Start Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
           <br>
           19-12-2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15-06-2021
        
        </div>
    </a>
    </div>
    </div> 
</body>
</html>
