<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-learning</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/courses.css">
</head>
<body>
    {{> navbar }}
    <section>
        <div class="content">      
            <h1>Java Basics</h1>
            <table>
                <tr>
                    <td><b>Instructors:</b> Antonio, Vikram</td>
                    <td><b>Course Starts:</b> 19-12-2020</td>
                </tr>
                <tr>
                    <td><b>Duration:</b> 19 hours</td>
                    <td><b>Course Ends:</b> 15-06-2021</td>
                </tr>
            </table>
            <br><br>
            <p>Java is a high-level, object-oriented programming language that is designed to be portable and platform-independent</p>
            <p>Java programs are compiled into an intermediate form called bytecode, which can be executed on any device with a Java Virtual Machine (JVM). This "write once, run anywhere" philosophy makes Java highly portable.</p>
            <br><br><br>
            <center>
                <input class="btn" type="button" value="Enroll Now" onclick="toggleEnrollment(this)" data-enrolled="false">
            </center>
        </div>
        <div class="image">
            <img src="/img/6.jpg" alt="Image">
        </div>
    </section>
</body>
<script>
    function toggleEnrollment(anchor) {
        const button = anchor.querySelector('.btn');
        const isEnrolled = button.getAttribute('data-enrolled') === 'true';

        if (isEnrolled) {
            button.textContent = 'Enroll Now';
            button.setAttribute('data-enrolled', 'false');
        } else {
            button.textContent = 'Unenroll';
            button.setAttribute('data-enrolled', 'true');
        }
    }
</script>
</html>
