<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning</title>   
        <link rel="stylesheet" type="text/css" href="/css/style1.css">   
</head>
<body>
<div id="signup-container">
    <h2>Sign Up</h2>
    {{#if msg}}
    <p class="{{msg_type}}">{{msg}}</p>
    {{/if}}
    <form id="signup-form"  action="/auth/register" method="post">
        <label for="new-username">Username:</label>
        <input type="text" id="name" name="name" required>

        <label for="new-password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/">Login</a></p>
</div>
</body>
</html>
